@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}

.dotted-grid {
  background-color: #fefefe; /* Dark background color */
  background-image: radial-gradient(rgba(74, 74, 74, 0.2) 1px, transparent 1px); /* creates the dots */
  background-size: 15px 15px; /* Adjust the size of the grid dots */
}

.text-glow {
  /* h-shadow v-shadow blur color
  the values are: horizontal offset, vertical offset, blur radious, color-opacity
  by having 3 shadows, each with a larger blur radious we create a shadow effect
  */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),  
               0 0 20px rgba(255, 255, 255, 0.6),
               0 0 30px rgba(255, 255, 255, 0.4);
}


/* Ensures the div follows an A4 page */
.a4-size {
  width: 210mm;
  /* height: 297mm; */
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility on screen */
  position: relative;
  overflow: hidden; /* Ensures no content spills over */
}

@media print {
  .a4-size {
    box-shadow: none; /* Removes shadow when printing */
    overflow: visible;
    width: 100%;
  }
}